body{
    background-color: black;
   background-size:contain;
   background-position: 200px 200px;
   background-repeat: no-repeat;
}
li{
    color: white;
    font-weight: bold;
   

}
a{
    color: orange;
    font-weight: bolder;

    font-display: block;
}

